
body{
    max-width: 1950px;
    background-color:rgba(0, 0, 0, 0.5) ;
    margin: 0px;
    padding: 0px;
    background-blend-mode: multiply;
    background-image: url("../images/stone.jpg");
    background-attachment: fixed;
    background-size: 400px;
    font-family: 'simkai','微軟正黑體';
}
.mywebbut{
    font-family: 'CASTELAR','COLONNA';
    width:210px;
    height: 50px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    box-shadow: 0px 0px 10px;
    background-color: rgb(52, 68, 78);
    color: rgb(255, 255, 255);
    text-shadow: rgb(202, 202, 202) 1px 1px 1px;
    float: right;
    text-align: center;
    font-size:15px;
    transition: 1s;
    font-weight: bold;
    border-radius: 50px;
    position: absolute;
    top: 350px;
    right: 10px;
    /*background-image: url("../images/12.jpg");*/
    background-image: url("../images/pngtree-vintage-flowers-flower-shading-shading-pattern-image_17431.jpg");

}
.mywebbut:hover{
    width: 210px;
    height: 48px;
    font-size: 15px;
    color: rgb(84, 76, 161);
    /*border:rgb(52, 68, 78) solid;*/
    background-image: none;
    background-color: white;
    background-image: url("../images/12.jpg");
   
}
.mywebbut1:hover .myfont1{
    animation: show linear 1s ;
    animation-iteration-count: infinite;
}
.myfont1{
    float: left;
}
.myfont{
    float: left;
}
.content{
    width: 81%;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 100px;      
    box-shadow: black 20px;
    padding: 15px;
    overflow: hidden;height: auto;
    
}

.informe{
    width: 100%;
    height: 530px;
    /*background-color: rgb(220, 247, 255);*/
    background-color: none;
    background-image: url("../images/greywood.jpg");
    position: relative;
    overflow: hidden;
    box-shadow: 10px black;
    

}
.mypic{
    width: 330px;
    height: 330px;
    border-radius: 100%;
    margin: 95px;
    float: left;
    animation: scale linear 0.5s ;
    transition: ease-in-out;
    margin-left: 150px;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/pngtree-vintage-flowers-flower-shading-shading-pattern-image_17431.jpg");

}
div.mypic img{
    width: 92%;
    margin: 4% 4%;
    height: 92%;
    border-radius: 100%;
    /*box-shadow: 0px 0px 10px black;*/

    animation: rotate linear 0.5s ;
    transition: ease-in-out;
}
.mypic:hover{
    width: 340px;
    height: 320px;
    transition: 1s;
    border-radius: 30px;

    animation: rotate linear 0.5s ;
}
div.mypic img:hover{
    transition: 1s;
    border-radius: 50px;
}
.artime{
    float:left;
    height: 500px;
    margin: 0px;
    color:rgb(52, 68, 78);
    position: absolute;
    padding-bottom: 0px;
    right: 6%;
    padding: 60px;
    padding-top:80px;
    right: 150px;
    width: 47%;
    border-radius: 50px;
}
.artime h1{
    font-size: 60px;
    float: left;
    padding:0px;
    margin: 0px;
    border-right:6px rgb(52, 68, 78) double;
    text-shadow: rgba(133, 133, 133, 0.671) 1px;
    font-weight: bold;    font-family: 'simkai','微軟正黑體';

}
h1.enname {
    padding-top: 10px;
    padding-bottom: 1px;
    margin: 0px;
    font-size: 50px;
    font-family: 'CASTELAR','COLONNA';
}
.artime h1:hover{
    transition: 1s;
    color: rgb(151, 166, 194);

}
.artime h2{
    clear: both;
    font-size:25px;
    animation: showmyinfor linear 0.5s ;
    transition: ease-in-out;
}
.artime h2:hover{
    transition: 1s;
    color: rgb(0, 45, 129);
    font-size: 26px;
}
.aboutme{
    width: 100%;
    height: 400px;
    padding-top: 90px;
    
    font-family: 'COLONNA';
}
.aboutme a{
    text-decoration: none;
    color: inherit;
}
.subaboutme{
    width: 110px;
    height:30px;
    margin: 0px;
    padding-top:8px;
    float: left;
}
.subaboutme1{
    width: 400px;
    height:30px;
    float: left;
}
.aboutme h2{
    width: 100%;
    height: 30px;
}
.likehr{
    width: 100%;
    height: 25px;
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height: 530px;
    margin: 0px auto;
    padding: 0px;
    background-image: url("../images/greywood.jpg");
    overflow-y:hidden ;
    /*border: white 4px solid;*/
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
}
.me{
    width: 108%;
    height: 530px;
    position: absolute;
    right: -1550px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url("../images/me2.jpg");
    background-size: 100%;
    background-position-y: -200px;
    background-position-x: 50px;

}
.me:hover{
    transition: 3s;
    right: 0px;
}
.me:hover div.deco1{
    height: 600px;
    transition: 1s;
    
}
div.deco_me{
    width: 7%;
    height: 530px;
    background-image: url("../images/greywood.jpg");
}
div.deco1{
    width: 5%;
    height: 220px;
    background-color: rgb(127, 193, 255);
    background-image: url("../images/pngtree-vintage-flowers-flower-shading-shading-pattern-image_17431.jpg");
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom-left-radius :100px;
    border-bottom-right-radius :100px;
    box-shadow: gray 0px 0px 10px;
    writing-mode: vertical-lr;
    color: white;
    font-size: 25px;
    font-family: 'CASTELAR','COLONNA';
}

.decore{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/12.jpg");
    margin: 0px auto;
    padding: 0px;
    padding-top: 30px;
    font-size: 100px;
    font-family: 'HanyiSentyTang';
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: rgb(27, 46, 46) 0px 5px 10px;
}

.howlong{
    float: right;
    position: absolute;
    top:100px;
    right: 50px;
    width: 65%;
    margin: 0px auto;
    /*background-color: aliceblue;*/
    text-align: right;
}
blockquote{
    font-size: 40px;
    color: rgb(245, 245, 245);
    letter-spacing: 3px;
    line-height: 90px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: rgb(158, 158, 158) 2px 0px 1px;
    /*background-color: rgb(79, 92, 79);
    border-left: 30px whitesmoke solid;*/
    padding: 0px;
    margin: 0px;
    font-style: italic;
}
.blockquote1{
    text-align: left; 
    padding-left:50px ;
    animation: showquote linear 2.5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.blockquote2{
    text-align: right; 
    animation: showquote linear 2.5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.top{
    border-radius: 100%;
    
    color: rgb(128, 150, 151);
    height: 80px;
    width: 80px;
    font-size: 30px;
    text-align: center;
    vertical-align:middle;
    right: 20px;
    bottom: 20px;
    position: fixed;
    
    
    
}
.top>img{
    border-radius: 100%;
    height: 80px;
    width: 80px;
    box-shadow: 0px 0px 10px rgb(164, 232, 235);
    background-color: rgb(164, 232, 235);transition: 1s;
}
.top>img:hover{
    border-radius: 100%;
    
    background-color: rgb(248, 232, 255);
    box-shadow: 0px 0px 10px rgb(244, 201, 255);
    
    animation: topcolor linear 1s ease-in-out;
    animation-iteration-count: infinite;
}
@-webkit-keyframes topcolor{
    from{
        background-color: rgb(164, 232, 235);
        box-shadow: 0px 0px 10px rgb(164, 232, 235);
    }
    to{
        background-color: rgb(248, 232, 255);
        box-shadow: 0px 0px 10px rgb(244, 201, 255);
    }
}
nav{
    height: 70%;
    width: 110px;
    font-size: 40px;
    color: rgb(52, 68, 78) ;
    display:block;
    margin: 0px auto;
    padding-right: -10px;
    clear: both;
    position: fixed;
    right: -65px;
    top: 120px;
    writing-mode: vertical-lr;
    background-color: none;
    
}
nav:hover{
    
    color: lavender;
    right: -15px;
    transition: 1s;
}
nav div{
    font-size: 20px;
    border-radius: 20px;
}
nav div:hover{
    transition: 0.5s;
    background-color: lavender;
    color: blue;
}
nav>ul{
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    padding-top: 15px;
    margin: 0px;    
}
nav a{
    text-decoration: none;
    color: inherit;
    font-family:'HanyiSentyTang' ;
}
nav li{
    background-color: rgb(0, 195, 202);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 30px;


}
nav li:hover{
    background-color: rgb(0, 61, 158);
    transition: 0.5s;
    
}

aside{
    width: 10%;
    background-color: cadetblue;
    height: 100%;
    position: relative;
}
.contact{
    width:370px;
    height: 10%;
    padding: 0px;
    position: relative;
    right: 0px;
    float: right;
    padding-right: 20px;
    align-content: flex-end;
}
.icon a{
    
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-top: 20px;
    float: right;
}
.icon img{
    width: 60px;
    height: 60px;
    float: left;
    padding: 5px;
}
.icon a:hover img{
    width: 70px;
    height: 70px;
    transition: 1s;
}
footer{
    height: 250px;
    text-align: left;
    background-color:rgb(52, 68, 78) ;
    background-image: url("../images/greywood.jpg");
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px auto;
    width: 100%;
    color: rgb(52, 68, 78);
    clear: both;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /*border: rgb(251, 251, 251) 4px solid;*/
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    font-weight: bold;
    font-size: 25px;
    
}
.foot1{
    float: left;
    padding: 40px;
    padding-top: 80px;
    color:rgb(52, 68, 78);
    transition: 1s;
    width: 50%;
    font-size: 25px;
}
.foot1:hover{
    color:rgb(52, 68, 78);
}
.foot1 img{
    height: 100px;
    float: left;
    padding-right: 50px;
    position: relative;
    right: 0px;
    bottom: 0px;
}
.foottext{
    padding-top: 10px;
    /*text-shadow: 0px 0px 2px aqua;*/
    animation: opacity linear 2s ;
    animation-iteration-count: infinite;
}
.foot1 img:hover{
    transition: 1s;
    height: 100px;
}
.foot2{
    float: right;
    padding: 40px;
    padding-left: 0px;
    text-align: right;
}
@font-face {
    font-family:HanyiSentyTang;
    src: url(../fontstyle/HanyiSentyTang.ttf);
    font-weight: bold;
}
@font-face {
    font-family: SouKouMincho;
    src: url(../fontstyle/SoukouMincho.ttf);
}
@font-face {
    font-family: simfang;
    src: url(../fontstyle/simfang.ttf);
}
@font-face {
    font-family: COLONNA;
    src: url(../fontstyle/COLONNA.TTF);
}
@font-face {
    font-family: simkai;
    src: url(../fontstyle/simkai.ttf);
}
@font-face {
    font-family: jokerman;
    src: url(../fontstyle/JOKERMAN.TTF);
}
@font-face {
    font-family: CASTELAR;
    src: url(../fontstyle/CASTELAR.TTF);
    font-weight: bolder;
}
@-webkit-keyframes rotate{
    from{
        transform:rotate(0deg);
        
    }
    to{
        transform:rotate(360deg);
    }
}

@-webkit-keyframes scale{
    from{
        transform: scale(0.1);
        
    }
    to{
        transform: scale(1);
    }
}
@-webkit-keyframes showquote{
    0%{
            width: 0px;
            overflow: hidden;
            height: 120px;
            opacity: 0%;
    }
    50%{
        
            width: 1000px;
            overflow: hidden;
            height: 120px;
            opacity: 100%;
        
    }
    100%{
        
        width: 1000px;
        overflow: hidden;
        height: 120px;
        opacity: 100%;
    
    }
}
@-webkit-keyframes show{
    from{
        width: 0px;
        overflow: hidden;
        height: 30px;
    }
    to{
        width:40px;
        overflow: hidden;
        height: 30px;
        
    }
}
@-webkit-keyframes showmyinfor{
    from{
        opacity: 0%;
        right: -40%;
    }
    to{
        opacity: 100%;
        right: 0px;
    }
}